/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

/* Common CSS Style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 15px 30px;
}

.section-title{
    font-size: 36px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 30px;
    text-align: center;
}

.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

/* Header and Navigation Styles */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.nav-title{
    font-size: 45px;
    font-weight: 700;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 40px;
}

nav li a{
    text-decoration: none;
}

/* Banner Section Styles */
.banner{
    display: flex;
    padding: 30px 30px 0 150px;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 560px;
}

.banner-sub-title{
    font-size: 45px;
    font-weight: 500;
    color: #474747;
}

.banner-title{
    font-size: 85px;
    color: #181818;
    font-weight: 700;
}

.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.banner img{
    width: 500px;
}

/* Main Section Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

/* About Section Styles */
.about{
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
    border-radius: 10px;
}

.about-info-containner{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.info-title{
    font-size: 20px;
    color: #474747;
}

.info-descripttion{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* What-i-do Section Styles */
.what-i-do-description{
    padding: 20px 140px;
}

.skills-container{
    display: flex;
    text-align: center;
    gap: 25px;
}

.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 25px 35px;
}

.skill-title{
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    margin: 15px 0;
}

.skill-descrition{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}